# edditor setting
.vscode

# frontend modules
/client/coverage
/client/node_modules
/client/dist/bundle.js

# logs
/client/yarn-error.log*

# Env variables
.envrc

# database config (temporary)
/config/database.yml
/config/migration_config.yml
